# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Distribution
build/
dist/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment
.env

# Test
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Ruff
.ruff_cache/

# Logs
*.log

# IDE
.idea/